@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

*{
    font-family: 'Alegreya';
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: 2.23vh;
}

*:hover{
    text-decoration: none;
}

:root{
    --darkgrey: #1f1f1f;
    --darkergrey: #181818;
    --white: #f0f8ff;
    --yellow: #FBFF24;
    --red: #ff5454;
    --purple: #9488ba;
    --pink: #f384dd;
}

.pink{
    color: var(--pink);
}

.yellow{
    color: var(--yellow);
}

.purple{
    color: var(--purple);
}

.red{
    color: var(--red);
}

.darkergrey{
    color: var(--darkergrey);
}

html{
    height: 100%;
    background-color: var(--darkgrey);
}

body{
    display: flex;
    flex-direction: row;
    padding: .8rem;
    height: 96%;
    
}

section{
    background-color: var(--darkergrey);
    padding: .8rem;
    margin: .8rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.socials{
    scrollbar-width: thin;
    scrollbar-color: #727273 var(--darkergrey);
}

.bio,.about,.music{
    justify-content: space-between;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.iconbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titless{
    font-size: 3vh;
}

.titlesspurple{
    color: var(--purple);
    font-size: 3vh;
}

.titlessyellow{
    color: var(--yellow);
    font-size: 3vh;
}

.titlessred{
    color: var(--red);
    font-size: 3vh;
}

.titlesspink{
    color: var(--pink);
    font-size: 3vh;
}

.iconbox>p{
    margin-top: .4rem;
}

.abt,.intro,.main-icon,.regular,.lessregular,.bull,.msc,.latestrelease,.musique{
    width: 36vh;
}

.linkss{
    font-size: 2.3vh;
}

.latestrelease{
    padding-top: 1VH;
}

.releasebox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .gaysex{ display: flex; flex-direction: column; align-items: center; justify-content: center; } #saygex{ width: 36vh; } */