@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

*{
    font-family: 'Alegreya';
    margin: 0;
    padding: 0;
    color: var(--white);
}

a:active{
    text-decoration: none;
}

:root{
    --darkgrey: #1f1f1f;
    --darkergrey: #181818;
    --white: #f0f8ff;
    --yellow: #FBFF24;
    --red: #FF2424;
}

body{
    background-color: var(--darkgrey);
}

h1,h2,h3,h4{
    font-size: 24px;
}

h3{
    color: var(--yellow);
}

h4{
    color: var(--red);
}

.rightside{
    text-align: right;
}

.main-icon{
    width: 150px;
    border-radius: 10%;
}

section{
    padding: .8rem;
}

.home{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--darkergrey);
}

.box-main-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiimlinkhe{
    display: flex;
    justify-content: center;
}

.about{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.links{
    display: flex;
    flex-direction: column;
    background-color: var(--darkergrey);
    gap: .8rem;
}

.otherlinks{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .8rem;
}

.linkhelanicore{
    letter-spacing: 2px;
}

.linklist{
    display: none;
}

.byfsss{
    text-align: right;
}

.firstline{
    text-align: right;
}

.thirdline{
    text-align: right;
}